label {
    font-family: monospace;
}

footer {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.header, footer {
    background-color: #082649;
}

.page-title {
    color: white;
    font-size: 2em;
    padding: 20px 0;
}

.posts-container,
.post-container,
.header-container {
    max-width: 750px;
    margin-left:auto;
    margin-right:auto;
}

.post-item, .options {
    margin: 20px 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-info {
    padding: 10px;
    background: #E3E3E3;
    margin: 0 -10px;
}

.blog-nav {
    margin-top: 20px;
}

.related-links {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
}

.categories-links span:after,
.tags-links span:after {
    content: ",";
}

.categories-links span:last-child:after,
.tags-links span:last-child:after {
    content: "";
}

a.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 15px;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ff9000;
    background-color: transparent;
}

a.back-to-top span {
    font-size: 50px;
}
